<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add new customer</title>
    <link rel="stylesheet" type="text/css" href="customers.css">
</head>
<body>

<h1>Add New Customer</h1>
    <form action="/add_customer" method="post">
            <div>
        <label>Enter First Name</label><br>
        <input type="text" name="first_name" required>
            </div>
             <div>
        <label>Enter Last Name</label><br>
        <input type="text" name="last_name" required>
            </div>
             <div>
        <label>Enter Street Address</label><br>
        <input type="text" name="st_address" required>
            </div>
             <div>
        <label>Enter ZIP Code</label><br>
        <input type="number" name="zip" required>
            </div>
             <div>
        <label>Enter Mobile Phone</label><br>
        <input type="number" name="mobile_phone" required>
             </div>
            <div>
        <label>Enter Additional Phone(Optional)</label><br>
        <input type="number" name="addit_phone">
             </div>
              <div>
        <label>Enter Email</label><br>
        <input type="email" name="email" required>
              </div>
                <div>
        <label>Enter Driver License Number</label><br>
        <input type="number" name="driver_license" required>
              </div>
               <div>
        <label>Enter Driver Since Date</label><br>
        <input type="date" name="driver_since" required>
              </div>
        <br>
                <div>
        <input style="background-color: azure" type="submit" value="Add Customer">
               </div>
    </form>


</body>
</html>