<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car Rental</title>
    <link rel="stylesheet" type="text/css" href="customers.css">
</head>
<body>
<h1>Welcome to Kailua Car Rental</h1>
    <div>
        <a href="/customers">
            <button class="btn-customers" id="btn-customers">Customers</button>
        </a>
        <a th:href="${'/carMenu'}">
            <button id="btn_cars">Go to Car Menu</button>
        </a>
        <a href="/contracts">
            <button class="btn-contracts" id="btn-contracts">Contracts</button>
        </a>
    </div>
 
</body>
</html>