<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>
<h1>Update Customer</h1>

<form action="/updateCustomer" method="post">
    <input type="text" name="customer_id" th:value="${customer.customer_id}"  placeholder="Customer ID" required>
    <input type="text" name="first_name" th:value="${customer.first_name}"  placeholder="First Name" required>
    <input type="text" name="last_name" th:value="${customer.last_name}"  placeholder="Last Name" required>
    <input type="text" name="st_address" th:value="${customer.st_address}"  placeholder="St Address">
    <input type="number" name="zip" th:value="${customer.zip}"  placeholder="Zip Code">
    <input type="number" name="mobile_phone" th:value="${customer.mobile_phone}"  placeholder="Mobile Phone" required>
    <input type="number" name="addit_phone" th:value="${customer.addit_phone}" placeholder="Additional Phone" >
    <input type="email" name="email" th:value="${customer.email}" placeholder="Email" required >
    <input type="number" name="driver_license" th:value="${customer.driver_license}" placeholder="License Number" required>
    <input type="date" name="driver_since" th:value="${customer.driver_since}" placeholder="Driver Since" required>
    <br>
    <input type="submit" style="background-color: aquamarine" value="Save Changes">
    <a href="/customers" style="background-color: aliceblue">Revert<a/>
</form>
</body>
</html>