<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <link rel="stylesheet" type="text/css" href="/customers.css">
</head>
<body>
<h1>Update Customer</h1>

<form action="/updateCustomer" method="post">
    <label> Customer ID: </label>
    <input type="text" name="customer_id" th:value="${customer.customer_id}"  placeholder="Customer ID" readonly>
    <label>First Name: </label>
    <input type="text" name="first_name" th:value="${customer.first_name}"  placeholder="First Name" required pattern="\D*">
    <label>Last Name: </label>
    <input type="text" name="last_name" th:value="${customer.last_name}"  placeholder="Last Name" required pattern="\D*">
    <label>Address: </label>
    <input type="text" name="st_address" th:value="${customer.st_address}"  placeholder="St Address">
    <label>Zip Code: </label>
    <input type="text" name="zip" th:value="${customer.zip}"  placeholder="Zip Code (4 Digits)" required minlength="4" pattern="\d*" maxlength="4">
    <label>Phone: </label>
    <input type="text" name="mobile_phone" th:value="${customer.mobile_phone}"  placeholder="Mobile Phone (8 Digits)" required pattern="\d*" minlength="8" maxlength="8">
    <label>Additional Phone: </label>
    <input type="text" name="addit_phone" th:value="${customer.addit_phone}" placeholder="Additional Phone" >
    <label>Email: </label>
    <input type="email" name="email" th:value="${customer.email}" placeholder="Email" required >
    <label>License Number: </label>
    <input type="text" name="driver_license" th:value="${customer.driver_license}" placeholder="License Number (8 Digits)" required pattern="\d*" minlength="8" maxlength="8">
    <label>Driver Since Date: </label>
    <input type="date" name="driver_since" th:value="${customer.driver_since}" placeholder="Driver Since" required max="2020-05-05">
    <br/>
    <input type="submit" style="background-color: aquamarine" value="Save Changes">
</form>
<br/>
<a href="/customers">
    <button class="btn_cancel">Cancel</button>
</a>
</body>
</html>